// primary
$primary: #7775D5;
$secondary: #1B2730;
$tertiary: #e8a603;
$primaryLight: #EBEAF9;

$gray1: #EEF0F2;
$gray2: #e5e7eb;
$gray3: #d1d5db;
$gray4: #f9fafb;
$gray5: #FAFAFB;
$gray6: #9EA7B4;

// red
$red: #e02424;
$white: #fff;
$black: #000;

// text
$textWhite: #fff;
$textWhite2: #b8b8b8;
$textWhite3: #999;

$textDark: #242629;
$textDark2: #5e5f62;
$textDark3: #9a9da3;
