@import 'variables';

@mixin font-face($name, $style: 'normal', $weight: 400, $swap: true, $woff) {
  @font-face {
    font-family: $name;
    font-style: $style;
    @if $swap {
      font-display: swap;
    }
    font-weight: $weight;
    src: url($woff) format('woff');
    @content;
  }
}

@mixin clearfix() {
  &::before,
  &::after {
    display: table;
    clear: both;
    content: '';
  }
}

@mixin min-max($min-width, $max-width, $padding) {
  box-sizing: border-box;
  min-width: $min-width;
  max-width: $max-width;
  padding: 0 $padding;
  margin: 0 auto;
  @content;
}

@mixin adaptive-video() {
  position: relative;
  height: 0;
  padding-top: 30px;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  overflow: hidden;

  iframe,
  lite-youtube {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @content;
}

@mixin visually-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  white-space: nowrap;
  border: 0;
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

@mixin wrapper {
  width: 100%;
  @include min-max(320px, $wrapper, 36px);

  //@media (max-width: $desktopSmall) {
  //  @include min-max(320px, $wrapper, 36px);
  //}
  //
  //@media (max-width: $tabletSmall) {
  //  @include min-max(320px, $wrapperTablet, 36px);
  //}

  @media (max-width: $mobileLarge) {
    @include min-max(320px, $wrapperMobile, 16px);
  }

  @content;
}

@mixin backdrop {
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: -1000px;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(50px) grayscale(100%);
    @content;
  }
}

@mixin lineclamp($lines) {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  line-clamp: $lines;
  -webkit-line-clamp: $lines;
  @content;
}

@mixin last-margin-null($position: 'bottom') {
  &:last-of-type {
    @if ($position == 'bottom') {
      margin-bottom: 0;
    }

    @if ($position == 'left') {
      margin-left: 0;
    }

    @if ($position == 'top') {
      margin-top: 0;
    }

    @if ($position == 'right') {
      margin-right: 0;
    }
  }
  @content;
}

@mixin animationDelayItems($items, $delay: 100) {
  @for $i from 1 through $items {
    &:nth-of-type(#{$i}) {
      animation: {
        delay: $delay * $i + ms;
      }
      @content;
    }
  }
}


.slider-custom-pagination {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	align-items: center;

	// @media (min-width: $tabletSmall) {
	// 	display: flex;
	// }

	&-light {
		.slider-custom-pagination-bullet {
			background: $gray2;
		}

		.slider-custom-pagination-bullet-active {
			background: $primary;
		}
	}

	&-dark {
		.slider-custom-pagination-bullet {
			background: $black;
		}

		.slider-custom-pagination-bullet-active {
			background: $primary;
		}
	}
}

.slider-custom-pagination-bullet {
	width: 8px;
	height: 8px;
	display: block;
	border-radius: 50%;
	background: $gray2;
	margin: 0 4px;
	cursor: pointer;

	@media (max-width: $tablet) {
		margin: 0 2px;
	}
}

.slider-custom-pagination-bullet-active {
  width: 12px;
  height: 12px;
	background: $primary;
}