@import 'colors';

$wrapper: 1504px;
$wrapperTablet: 728px;
$wrapperMobile: 500px;

$desktop: 1360px;
$desktopSmall: 1024px;
$tablet: 768px;
$tabletSmall: 600px;
$mobileLarge: 480px;
$mobile: 390px;
$mobileSmall: 360px;

:export {
  primary: $primary;
  secondary: $secondary;
}
