@import 'src/@app/styles/variables';
@import 'src/@app/styles/mixins';

.button {
  font-family: inherit;
  text-decoration: none;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-flex;
  transition: all 250ms;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: $textDark;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

@mixin buttonStyles($prefix: '') {

  // sizes
  .#{$prefix}size {
    &-large {
      font-size: 17px;
      line-height: 28px;
      padding: 16px 72px;

      @media (max-width: $tablet) {
        font-size: 15px;
        line-height: 24px;
        padding: 12px 32px;
      }
    }

    &-medium,
    &-small {
      font-size: 15px;
      line-height: 24px;
      padding: 12px 51px;
    }

    &-small {
      padding: 12px 20px;

      @media (max-width: $tablet) {
        padding: 8px 16px;
      }
    }
  }

  // border radius
  .#{$prefix}radius {

    // fullRounded radius for button-large
    &-fullRounded {
      &.#{$prefix}size-large {
        border-radius: 60px;

        @media (max-width: $tablet) {
          border-radius: 48px;
        }
      }

      // fullRounded radius for button-medium and button-small
      &.#{$prefix}size-medium,
      &.#{$prefix}size-small {
        border-radius: 56px;
      }
    }

    &-small {
      border-radius: 8px;
    }
  }

  // variants
  .#{$prefix}variant {
    &-outlined {

      // primary-outlined
      &.#{$prefix}bg-primary {
        border-color: $primary;

        &:hover {
          background: $primary;
        }

        &:active {
          background: darken($primary, 8%);
          border-color: darken($primary, 8%);
        }

        &:disabled {
          border-color: $primary;
          background: none;
        }
      }

      // secondary-outlined
      &.#{$prefix}bg-secondary {
        border-color: transparent;
        color: $primary;
        background-color: $primaryLight;

        &:hover {
          background: $primary;
          color: $white;
        }

        &:active {
          background: darken($white, 8%);
          border-color: darken($white, 8%);
        }
      }
    }

    &-contained {

      // primary-contained
      &.#{$prefix}bg-primary {
        border-color: $primary;
        background: $primary;
        color: $textWhite;

        &:hover {
          background: darken($primary, 5%);
        }

        &:active {
          background: darken($primary, 9%);
        }
      }

      // secondary-contained
      &.#{$prefix}bg-secondary {
        border-color: $secondary;
        background: $secondary;
        color: $textDark;

        &:hover {
          background: darken($secondary, 5%);
        }

        &:active {
          background: darken($secondary, 9%);
          border-color: darken($secondary, 9%);
        }
      }
    }
  }

  // fullWidth
  .#{$prefix}fullWidth-true {
    width: 100%;
  }

  .#{$prefix}fullWidth-false {
    width: auto;
  }
}

@include buttonStyles();
