@import "src/@app/styles/variables";
@import "src/@app/styles/mixins";

.button {
  font-family: inherit;
  padding: 11px 24px;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  color: #000;
  text-decoration: none;
  background: none;
  border-radius: 12px;
  cursor: pointer;
  display: inline-flex;
  transition: all 250ms;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  align-items: center;

  &:disabled {
    opacity: .6;
    cursor: not-allowed;
  }
}

// sizes

.size-large {
  font-size: 15px;
  line-height: 24px;
}

.size-small {
  font-size: 13px;
  line-height: 20px;

  @media (max-width: $mobileLarge) {
    font-size: 15px;
    line-height: 24px;
  }
}

.size-moreButton {
  min-width: 192px;
  font-size: 13px;
  line-height: 20px;

  @media (max-width: $desktopSmall) {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: .4px;
    min-width: auto;
    padding: 7px 11px;
  }
}

// border-radius

.radius-large {
  border-radius: 12px;
}

.radius-small {
  border-radius: 8px;
}

.fullWidth {
  width: 100%;
}

// colors

.primary {
  background: $primary;
  color: #fff;
  border: 1px solid $primary;

  &:hover {
    background: darken($primary, 2%);
    border-color: darken($primary, 2%);
  }

  &:active {
    background: darken($primary, 4%);
    border-color: darken($primary, 4%);
  }

  &:disabled {
    &:hover,
    &:active {
      background: $primary;
      color: #fff;
      border-color: $primary;
    }
  }
}

.primaryOutline {
  background: none;
  color: $primary;
  border: 1px solid $primary;

  &:hover {
    background: $primary;
    color: #fff;
  }

  &:active {
    background: darken($primary, 4%);
    border-color: darken($primary, 4%);
  }

  &:disabled {
    &:hover,
    &:active {
      background: none;
      color: $primary;
      border-color: $primary;
    }
  }
}

.lightOutline {
  background: none;
  color: #fff;
  border: 1px solid #fff;

  &:hover {
    background: #fff;
    color: #000;
  }

  &:active {
    background: darken(#fff, 4%);
    border-color: darken(#fff, 4%);
  }

  &:disabled {
    &:hover,
    &:active {
      color: #fff;
      border-color: #fff;
    }
  }
}