@import 'src/@app/styles/variables';
@import 'src/@app/styles/mixins';

.section {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $white;
    -webkit-box-shadow: 0px 1px 12px 0px rgba(30,30,60,0.51);
    -moz-box-shadow: 0px 1px 12px 0px rgba(30,30,60,0.51);
    box-shadow: 0px 1px 12px 0px rgba(30,30,60,0.51);
    z-index: 10;
}
.wrapper {
    width: 100%;
}
.header_top {
    height: 95px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.left {
    display: flex;
    align-items: center;
}
.bl_logo {
    margin-right: 28px;
}
.right {
    display: flex;
    grid-gap: 28px;
}