@import "src/@app/styles/variables";
@import "src/@app/styles/mixins";

.main {
  margin: 80px 0 160px;
  padding: 0 40px;

  .toHome {
    display: block;
    width: fit-content;
    margin: 40px auto 0;
  }
}

.img {
  max-width: 500px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}